* {
  margin: 0;
  padding: 0;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
}

/* *******Navbar******* */

nav {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  width: 60%;
  height: 3rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li a {
  color: #ccc;
  font-size: 14px;
}
ion-icon{
    font-size: 17px;
    margin-top: 5px;
}

